<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.youli.zbetuch.jingan"
          android:versionName="版本日期：2017-07-03 \n新增高校专项调查">
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 文件读取的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 向SD卡中创建或者删除的权限。 -->
    <uses-permission android:name="andorid.permission.MONUN_UNMOUNT_FILESYSTEMS"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/><!--获取精确位置-->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.amap.api.v2.apikey" android:value="e18c2e7c35de1dfac70e017100a570fd"></meta-data><!--高德地图要用到的-->

        <service android:name="com.amap.api.location.APSService"></service><!--高德地图要用到的-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.youli.zbetuch.jingan.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>


        <!--防止屏幕旋转变形，锁定竖屏-->
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainLayoutActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".activity.FunctionListActivity"
            android:screenOrientation="portrait" ></activity>

        <activity android:name=".activity.ZiyuandiaochaActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.ZiyuanDetailListActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.ShiwuyeDetailActivity"
            android:screenOrientation="portrait" >

        </activity>
        <activity android:name=".activity.PersonInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".activity.PersonalInfoQuery"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".activity.PersonalInfoQueryResult"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".activity.RecruitInfoActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity><!--招聘信息-->

        <activity android:name=".activity.JobInfoListActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.JobInfoDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.PersonBaseInfoActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.PersonReActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.PersonEduActivity"
            android:screenOrientation="portrait" ></activity><!--教育信息-->
        <activity android:name=".activity.RecentNewsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.WorkNoticeActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.WorkNoticeDetailActivity"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".activity.MeetNoticeActivity"
            android:screenOrientation="portrait"></activity><!--会议通知-->
        <activity android:name=".activity.MeetDetailActivity"
            android:screenOrientation="portrait"></activity>
<activity android:name=".activity.ChangePwdActivity"
    android:screenOrientation="portrait"></activity><!--修改密码-->

        <activity android:name=".activity.ReportActivity"
            android:screenOrientation="portrait"></activity><!--统计报表-->

        <activity android:name=".activity.InterviewActivity"
            android:screenOrientation="portrait"></activity><!--现场面试-->
        <activity android:name=".activity.FollowListActivity"
            android:screenOrientation="portrait"></activity><!--关注列表-->
        <activity android:name=".activity.WorkRecordActivity"
            android:screenOrientation="portrait"></activity><!--工作日志-->
        <activity android:name=".activity.GraduateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity><!--应届毕业生-->
        <activity android:name=".activity.InterviewDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.GeRenRecomActivity"
            android:screenOrientation="portrait"></activity><!--个人推荐-->
        <activity android:name=".activity.RecomListActivity"
            android:screenOrientation="portrait"></activity><!--推荐列表-->
        <activity android:name=".activity.GradConQueryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity><!--应届毕业生里面的条件查询界面-->
        <activity android:name=".activity.ShiyeTongjiActivity"
            android:screenOrientation="portrait"></activity><!--失业统计-->
        <activity android:name=".activity.PersonDataCenterActivity"
            android:screenOrientation="portrait"></activity><!--个人数据中心-->
        <activity android:name=".activity.GraPerDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity><!--应届毕业生个人详情-->
        <activity android:name=".activity.WorkRecordDetailActivity"
            android:screenOrientation="portrait"></activity><!--工作日志详情-->
        <activity android:name=".activity.ReportDetailActivity"
            android:screenOrientation="portrait"></activity><!--统计报表详情-->
        <activity android:name=".activity.QuestionNaireActivity"
            android:screenOrientation="portrait"></activity><!--问卷调查-->
        <activity android:name=".activity.NairePersonActivity"
            android:screenOrientation="portrait"></activity><!--问卷被调查人-->

        <activity android:name=".naire.ShowWenJuanActivity"
            android:screenOrientation="portrait"></activity><!--问卷调查-->

        <activity android:name=".naire.WenJuanPersonActivity"
            android:screenOrientation="portrait"></activity><!--问卷被调查人-->
        <activity
            android:name=".naire.ShowPersionDetailInfo"
            android:theme="@style/Theme.ActivityDialogStyle"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>

        <activity
            android:name=".naire.WenJuanDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name=".naire.WenJuanRegisterInfo"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"
            ></activity>

        <activity
            android:theme="@style/Theme.ActivityDialogStyle"
            android:name=".naire.ShowWenJuanMarkActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>

        <activity
            android:name=".naire.ShowPersionHistoryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>

        <activity
            android:theme="@style/Theme.ActivityDialogStyle"
            android:name=".naire.ShowPersionHistoryList"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>

        <activity android:name=".activity.ComNaireActivity"
            android:screenOrientation="portrait"></activity><!--企业调查-->

        <activity android:name=".activity.ComListActivity"
            android:screenOrientation="portrait"></activity><!--企业列表-->

        <activity android:name=".activity.ComPersonListActivity"
            android:screenOrientation="portrait"></activity><!--企业人员列表-->

        <activity android:name=".activity.ComNaireDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity><!--企业调查里面的问卷-->

        <service android:name=".naire.PersonService" >
            <intent-filter>
                <action android:name="com.fc.person.newservice.PersonService" />
            </intent-filter>
        </service>
        <service android:name=".naire.MainService" >
        <intent-filter>
            <action android:name="com.fc.main.newservice.MainService" />
        </intent-filter>
    </service>

        <service android:name=".service.PostMsgService" >
            <intent-filter>
                <action android:name="com.youli.zbetuch.jingan.service.PostMsgService" />
            </intent-filter>
        </service>

    </application>

</manifest>