<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.youli.zbetuch.jingan"
          android:versionName="版本日期：2017-07-03 \n新增高校专项调查">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 文件读取的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 向SD卡中创建或者删除的权限。 -->
    <uses-permission android:name="andorid.permission.MONUN_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.youli.zbetuch.jingan.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>


        <!--防止屏幕旋转变形，锁定竖屏-->
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainLayoutActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".activity.FunctionListActivity"
            android:screenOrientation="portrait" ></activity>

        <activity android:name=".activity.ZiyuandiaochaActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.ZiyuanDetailListActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.ShiwuyeDetailActivity"
            android:screenOrientation="portrait" >

        </activity>
        <activity android:name=".activity.PersonInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".activity.PersonalInfoQuery"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".activity.PersonalInfoQueryResult"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".activity.RecruitInfoActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".activity.JobInfoListActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.JobInfoDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.PersonBaseInfoActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.PersonReActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.PersonEduActivity"
            android:screenOrientation="portrait" ></activity><!--教育信息-->
        <activity android:name=".activity.RecentNewsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.WorkNoticeActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.WorkNoticeDetailActivity"
            android:screenOrientation="portrait" ></activity>
        <activity android:name=".activity.MeetNoticeActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.MeetDetailActivity"
            android:screenOrientation="portrait"></activity>
<activity android:name=".activity.ChangePwdActivity"
    android:screenOrientation="portrait"></activity><!--修改密码-->

        <activity android:name=".activity.ReportActivity"
            android:screenOrientation="portrait"></activity><!--统计报表-->

        <activity android:name=".activity.InterviewActivity"
            android:screenOrientation="portrait"></activity><!--现场面试-->
        <activity android:name=".activity.FollowListActivity"
            android:screenOrientation="portrait"></activity><!--关注列表-->
        <activity android:name=".activity.WorkRecordActivity"
            android:screenOrientation="portrait"></activity><!--工作日志-->
        <activity android:name=".activity.GraduateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity><!--应届毕业生-->
        <activity android:name=".activity.InterviewDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.GeRenRecomActivity"
            android:screenOrientation="portrait"></activity><!--个人推荐-->
        <activity android:name=".activity.RecomListActivity"
            android:screenOrientation="portrait"></activity><!--推荐列表-->
        <activity android:name=".activity.GradConQueryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity><!--应届毕业生里面的条件查询界面-->
        <activity android:name=".activity.ShiyeTongjiActivity"
            android:screenOrientation="portrait"
            ></activity><!--失业统计-->
    </application>

</manifest>